BasedOnStyle: Mozilla
AlignConsecutiveAssignments: 
  AcrossEmptyLines: false
  AlignCompound: true
  PadOperators: true
AlignConsecutiveMacros: Consecutive
BraceWrapping:
  AfterEnum: true
  AfterStruct: true
  AfterFunction: true
  AfterUnion: true
AlwaysBreakAfterReturnType: None